{% extends "base.html" %}
{% from 'bootstrap5/table.html' import render_table %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>DataCite Data Files Service</h1>
<div class="my-4">
This is a pilot portal for DataCite’s public data file. Read more about the data file on the <a href="https://support.datacite.org/docs/datacite-public-data-file">DataCite support site</a>.
For questions or feedback, contact <a href="support@datacite.org">support@datacite.org</a>.
</div>
<h3>Available Public Data Files</h3>
{{ render_table(
    datafiles,
    titles = [('name','Name'), ('short_description','Description'), ('size', 'Size'), ('doi', 'DOI'), ('access_button', 'Access')],
    safe_columns = ('access_button', 'short_description', 'size'),
    urlize_columns = ('doi'),
        responsive=True
    )
}}
{% endblock %}
