{% extends "base.html" %}
{% from 'bootstrap5/table.html' import render_table %}
{% block title %}Home{% endblock %}
{% block content %}
<h1>Welcome to the DataCite Data Files Service</h1>
<div class="my-4">Blurb here...</div>
<h3>Available Data Files</h3>
{{ render_table(
    datafiles,
    titles = [('name','Name'), ('description','Description'), ('size', 'Size'), ('doi', 'DOI'), ('access_button', 'Access')],
    safe_columns = ('access_button'),
    urlize_columns = ('doi')
    )
}}
{% endblock %}
